<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">{{userDetails.rollno}}</h1>
        <span class="example-spacer"></span>
        <div class="example-button-row">
            <button mat-raised-button color="green" (click)="onLogout()"><mat-icon>logout</mat-icon>Logout</button>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="/dashboardad">
                    <mat-icon>dashboard</mat-icon> Dashboard</a>

                <a mat-list-item routerLink="/superdetail">
                    <mat-icon>assignment_ind</mat-icon>Supervisor</a>

                <a mat-list-item routerLink="/studetail">
                    <mat-icon>assignment_ind</mat-icon>Student</a>

                <a mat-list-item routerLink="/assignesuper">
                    <mat-icon>assignment_ind</mat-icon>Assigne Supervisor</a>

                <a mat-list-item routerLink="/sturessuper">
                    <mat-icon>assignment_returned</mat-icon>Student Request For Supervisor</a>

                <a mat-list-item routerLink="/viewres">
                    <mat-icon>check_circle</mat-icon>View all Results</a>

                <a mat-list-item routerLink="/notificationad">
                    <mat-icon>notification_important</mat-icon>Notifications</a>

                <a mat-list-item routerLink="/Message">
                    <mat-icon>notification_important</mat-icon>Message</a>

                <a mat-list-item routerLink="/updatepasswordadmin">
                    <mat-icon>updatepassword</mat-icon>Update Password</a>
                  </mat-nav-list>

                </mat-sidenav>
                <mat-sidenav-content>
                    <router-outlet></router-outlet>
                </mat-sidenav-content>
            </mat-sidenav-container>

        </div>
