<!-- MAIN (Center website) -->
<div class="main">

    <h1>Dashboard</h1>
    <hr>
    <!-- Portfolio Gallery Grid -->
    <div class="row">
        <div class="column" (click)="onsup()">
            <div class="content polaroid">
                <img src="assets/img/teacher.jpg " alt="Mountains " style="width:100% ">
                <div class="con ">
                    <p>Supervisor Details</p>
                </div>
            </div>
        </div>
        <div class="column ">
            <div class="content polaroid " (click)="oncheck()">
                <img src="assets/img/check.jpg " alt="Lights " style="width:100% ">
                <div class="con ">
                    <p>Check Results</p>
                </div>
            </div>
        </div>
        <div class="column ">
            <div class="content polaroid " (click)="oninb()">
                <img src="assets/img/inbox.png" alt="Nature " style="width:100% ">
                <div class="con ">
                    <p>inbox</p>
                </div>
            </div>
        </div>
        <div class="column " (click)="onnoti()">
            <div class="content polaroid ">
                <img src="assets/img/notifi.png" alt="Mountains " style="width:100% ">
                <div class="con ">
                    <p>Notifications</p>
                </div>
            </div>
        </div>
        <!-- END GRID -->
    </div>



    <!-- END MAIN -->
</div>