<form #forget="ngForm" (ngSubmit)="forget.valid && onSubmit(forget)">
    <h3>Enter email:</h3>
    <input type="text" name="email" #email="ngModel" class="col-xs-1" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required [ngClass]="{'invalid-textbox' :forget.submitted && !email.valid }">
    <div *ngIf="forget.submitted && email.errors?.pattern">
        <label class="validation-message">Invalid email address.</label>
    </div>
    <!-- <input type="submit"  value="Send OTP"> -->
    <button class="btn btn-success">Send OTP</button>
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
    Sent successfully
</div>